/* .notFound {
  width: 99vw;
  height: 900vh;
  overflow: hidden;
  background: url(https://cdn.playbuzz.com/cdn/b030bdf6-4e1d-4613-aa06-d75d66defca1/69a4d1b6-d939-41f7-baf9-f354b2f46915.jpg)
   no-repeat center center fixed;
} */
